.marker {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  cursor: pointer;
}
