name: Frontend CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: pnpm/action-setup@v4
      with:
        version: 9
        run_install: false

    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: 'pnpm'

    - name: Install dependencies
      run: pnpm install --frozen-lockfile --force

    - name: Build frontend
      run: pnpm run build

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: true
        tags: |
          tkddmskr/odegano-frontend:${{ github.sha }}
          tkddmskr/odegano-frontend:latest
        no-cache: true

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.3
      env:
        FRONTEND_IMAGE_TAG: ${{ github.sha }}
      with:
        host: ${{ secrets.SERVER_HOST }}
        port: '22'
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          cd /home/ubuntu/odegano-frontend

          sudo docker compose down --remove-orphans
          sudo docker compose pull
          sudo docker compose up -d --remove-orphans
